{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react-native", "flowtype"],
  "globals": {
    "fetch": true
  },
  "rules": {
    "semi": ["error", "never"],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}
